/*
Theme Name: Machine WP Child
Theme URI:
Description: Child theme for the Machine theme
Author: <a href="http://www.madeinebor.com">Tom Rhodes</a>
Author URI:
Template: machinewp
Version: 1.0.0
*/

@import url('../machinewp/style.css');

ul.social-links {
display: none !important; }

.upper-meta, .page-description {
	clear: both;
}

.gform_wrapper #field_1_6 label,
.gform_wrapper #field_1_7 label,
.gform_wrapper #field_1_10 label,
.gform_wrapper #field_1_11 label,
.gform_wrapper #field_1_12 label,
.gform_wrapper #field_1_13 label {
	display: block; float: left; width: 100px;
}

.gform_wrapper label { display: none; }
.gform_wrapper .gfield_radio label { display: inline; }
.gform_wrapper .gfield_radio input { margin-right: 10px; }

.gform_wrapper #field_1_6, #field_1_7 {
    clear: both;
}

span.gfield_required { color: #f00; margin-left: 4px; }

.nav-light .menu li, .nav-light .menu li:first-child, .nav-light .menu li:last-child {
  border-color: rgba(0,0,0,0);
}

div.price {
  border: 3px solid #f00;
padding: 20px;
  display: block;
  text-align: center;
  color: #f00;
}

div.price span.text { display: block; font-size: 12px; color: #333; }
div.price span.number { display: block; font-size: 44px; color: #f00; }

.feature_list_container {}
.feature_list_container ul {}
.feature_list_container ul li { vertical-align: top; clear: both; overflow: auto; }
.feature_list_container ul li i.fa { vertical-align: top; margin-top: 4px; }
.feature_list_container ul li strong { vertical-align: top; display: inline-block; width: 230px; }
.feature_list_container ul li em { display: inline-block; width: 225px; }
.feature_list_container {}

.woocommerce div.product div.images {
  width: 100%;
}

span.posted_in { display: none; }

.archive-shop-loop .col-md-4 {
	width: 30%
}
@media (max-width: 990px) {
    .archive-shop-loop .col-md-4 {
        width: 100%;
    }
}



.product {
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
}
.product h5 {
	margin-bottom: 0;
	display: inline-block;
}
.product span {
	color: #0054a6;
}
.product .hover-content {
	text-align: center;
	width: 100%;
	height: 100%;
	left: 0;
	margin-left: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.product .btn {
	margin: 0 auto;
	display: inline-block;
    font-size: 10px;
    padding: 5px;
}
.product .btn:last-child {
	margin-left: 16px;
}
.product .btn:hover {
	border-color: #fff;
	color: #333;
}
.single .product .price, .single .price .amount {
	float: right;
	font-size: 28px;
	font-weight: 300;
	font-style: normal;
	display: inline-block;
	position: relative;
	bottom: 18px;
}
.product .price, .price .amount {
	float: right;
	font-size: 28px;
	font-weight: 300;
	font-style: normal;
	display: inline-block;
	position: relative;
	bottom: 10px;
    margin-top: 5px;
}
@media all and (max-width: 767px) {
	.product br {
		display: block;
	}
}
.product-image .background-image-holder {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.product-image {
	position: relative;
	height: 200px;
	width: 100%;
	margin-bottom: 16px;
	overflow: hidden;
}
.product-image .hover-state {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	top: auto;
	background: rgba(0,0,0,0.8);
	z-index: 10;
	transform: translate3d(0, 200px, 0);
	-webkit-transform: translate3d(0, 200px, 0);
	-moz-transform: translate3d(0, 200px, 0);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: 1;
}
.product-image .hover-content {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}
.product-image:hover .background-image-holder {
    transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}
.product-image:hover .hover-state, .col-sm-9 .product-image:hover .hover-state {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.single .product .price,
.single .price .amount {
	margin-left: 40px;
	margin-bottom: 40px;
}


.sub-menu {
    margin-left: 20px;
}

.sub-menu > li.menu-item {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.product-image a .background-image-holder {
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}


div.price_bigger {
	/* XS */
	width: 200px;
	height: 200px;

	/* All resolutions */
	display: block;
	background-image: url('/wp-content/uploads/2015/06/price_sticker_blank.png');
	background-repeat: no-repeat;
	-moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
	-moz-background-position: center center;
	-webkit-background-position: center center;
	-moz-background-position: center center;
	-webkit-background-position: center center;
	background-position: center center;
	text-align: center;
	-moz-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	transform: rotate(-6deg);
	color: #fff;
}
div.price_bigger.float_right {
	float: right;
	margin-left: 40px;
}
.price_bigger .text {
	font-size: 25px;
	padding: 60px 0 0 0
}
.price_bigger .price_major {
	font-size: 35px;
	padding: 10px 0 0 0;
}
.price_bigger .price_small {
	font-size: 12px;
	padding: 5px 0 0 0;
}
.price_bigger .date {
	font-size: 10px;
	padding: 0 0 0 0;
}

@media (min-width: 768px) {
	div.price_bigger {
		width: 280px;
		height: 280px;
	}
	div.price_bigger.float_right {
		float: right;
		margin-left: 40px;
	}
	.price_bigger .text {
		font-size: 35px;
		padding: 85px 0 0 0
	}
	.price_bigger .price_major {
		font-size: 45px;
		padding: 20px 0 0 0;
	}
	.price_bigger .price_small {
		font-size: 14px;
		padding: 10px 0 0 0;
	}
	.price_bigger .date {
		font-size: 12px;
		padding: 10px 0 0 0;
	}
}
@media (min-width: 992px) {
	div.price_bigger {
		width: 280px;
		height: 280px;
	}
	div.price_bigger.float_right {
		float: right;
		margin-left: 40px;
	}
	.price_bigger .text {
		font-size: 35px;
		padding: 85px 0 0 0
	}
	.price_bigger .price_major {
		font-size: 45px;
		padding: 20px 0 0 0;
	}
	.price_bigger .price_small {
		font-size: 14px;
		padding: 10px 0 0 0;
	}
	.price_bigger .date {
		font-size: 12px;
		padding: 10px 0 0 0;
	}
}
@media (min-width: 1170px) {
	div.price_bigger {
		width: 280px;
		height: 280px;
	}
	div.price_bigger.float_right {
		float: right;
		margin-left: 40px;
	}
	.price_bigger .text {
		font-size: 35px;
		padding: 85px 0 0 0
	}
	.price_bigger .price_major {
		font-size: 45px;
		padding: 20px 0 0 0;
	}
	.price_bigger .price_small {
		font-size: 14px;
		padding: 10px 0 0 0;
	}
	.price_bigger .date {
		font-size: 12px;
		padding: 10px 0 0 0;
	}
}






input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
	margin-bottom: 0px;
}

.gform_wrapper li.hidden_label input {
    margin-top: 0px !important;
}











ul.specs_list {
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
}
ul.specs_list {
	list-style-type: none;
	-webkit-columns: 1;
	-moz-columns: 1;
	columns: 1;

	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;


}

ul.specs_list li {
	overflow: auto;
	list-style-type: none;
    list-style-position: outside;
    text-indent: 0;
	margin-bottom: 0;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
ul.specs_list li div {
	padding: 4px 10px;
	border-bottom: 1px solid #f4f4f4;
}

ul.specs_list li div.name_of_item {
	background: #1980a7;
	color: #fff;
	width: 30%;
	margin-right: 3%;
	text-align: right;
}
ul.specs_list li div.data {
	background: none;
	color: #000;
	width: 67%;
}

@media (min-width: 768px) {
	ul.specs_list {
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
	}
	ul.specs_list li div.name_of_item {
		width: 45%;
	}
	ul.specs_list li div.data {
		width: 50%;
	}
}
@media (min-width: 992px) {
	ul.specs_list li div.name_of_item {
		width: 30%;
	}
	ul.specs_list li div.data {
		width: 67%;
	}
}



.its_all_relative {
	position: relative;
}
.rea_sticker {
	margin: 0 0 0 0;
	margin-bottom: -24px;
	z-index: 1001;
	position: absolute;
	right: 0;
}
.spa_overview_image_rea {
	width: 130px;
	height: 130px;
	border: 3px solid #fff;
	border-radius: 50%;
	background-color: #1d80a7;
	-moz-transform: rotate(6deg);
	-webkit-transform: rotate(6deg);
	transform: rotate(6deg);
	position: absolute;
	right: 50px;
	top: 0;
}
.spa_overview_image_rea .data {
	color: #fff;
	font-size: 42px;
	text-align: center;
	transform: translateY(220%);
	/*transform: translate(18%, 150%);*/
}

.nav-1 ul > li:hover {
    border-left: none;
}
.nav-1 ul > li:first-child:hover {
	border-left: 1px solid transparent;
}
ul.gfield_checkbox li br {
    display: none;
}

.wpb_image_grid .wpb_image_grid_ul .isotope-item {
    margin: 0 10px 1px 0;
}
/*
.gform_wrapper {display:block!important;}
.product {min-height: 310px;}
.background-image-holder {opacity:1;}
.product h5 {font-size: 17px;}*/